.containerInput {
  position: relative;
}

.eye {
  position: absolute;
  top: 13px;
  right: 2%;
  cursor: pointer;
}

.inputForm {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 32px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
}
