.container {
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form {
  width: 100%;
  padding: 0px 50px;
  align-self: center;
}

.fieldsForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 21px;
}

.fieldsTable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 21px;
}

.tableHeader {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.fieldTable {
  width: 100%;
  padding: 22px 10px;
  display: flex;
  justify-content: flex-start;
}

.textTable {
  font-size: 16px;
  font-weight: 400;
}

.fieldInput {
  width: 100%;
}

.buttonInput {
  white-space: nowrap;
}

.titleMain {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
}

.btnLogin {
  margin-right: 50px;
  margin-bottom: 50px;
  color: '#5B5959';
  font-size: 16px;
  padding: 12px 30px;
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid #5B5959;
  cursor: pointer;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.error {
  color: #F55653;
  margin-bottom: 20px;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.click{
  cursor: pointer;
}
.currentLink{
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 500 ;
  color: #5B5959;
}
.loading{
  width: 100%;
  display: flex;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5B5959;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@media only screen and (max-width: 700px) {
  .shortened {
    width: 100%;
  }
  .buttonsHeader{
    display: flex;
    gap: 1rem;
  }
  .long {
    width: 0px;
    display: none !important;
  }

  .form {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
  }

  .buttonInput {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fieldsForm {
    flex-direction: column;
  }

  .container {
    padding: 20px 0px;
    align-items: center;
  }

  .titleMain {
    text-align: center;
  }

  .btnLogin {
    margin-right: 0;
  }
}
